
@inject HttpClient client


<header class="l-header">
      <div>
        <img src="img/logo-marvel.svg" class="header--logo" alt="Home logo">
      </div>
      
        <div class="ais-search-box">
            <input type="search" class="header--input ais-search-box--input" autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Go ahead, and find your favorite heroes" spellcheck="false" bind=@this.Value/>
            <button class="search-button" onclick=@(async () => await SearchHero())></button>
        </div>
      
      
    </header>

<div class="main_content">
    @if(hero != null){
        <ShowHero Hero=@hero/>
    }

    @if(searching){
         <p>Searching...</p>   
    }
</div>

@functions {
    Hero hero = null;
    bool searching = false;
    public string Value { get; set; }
    private async Task SearchHero()
    {
        searching = true;
        hero = null;

        var result = await GetHeroesAsync($"?name={Value}&ts=1&apikey=39212139ecb40b5fb10e3b724d5c6725&hash=3d0f592e813275da73776cc3089b2b71");
    
        hero = result.ToHero("standard_xlarge");
        searching = false;

    }

    protected override void OnInit()
    {
        client.BaseAddress = new Uri("https://gateway.marvel.com/v1/public/characters");
    }

     async Task<ApiResult> GetHeroesAsync(string path)
        {
            return await client.GetJsonAsync<ApiResult>(path);
        }
}