@inject HttpClient client
<div class="comic">
    
    <div class="comic_img_container">
        @if(!string.IsNullOrEmpty(imageURL)){
            <img height="150" src=@imageURL/>
        }
    </div>
    

    <p>@Comic.Name</p>
</div>

@functions {
    string imageURL = null;
    [Parameter] HeroComic Comic { get; set; }

    protected override async Task OnInitAsync()
    {
        var result = await client.GetJsonAsync<ApiComicsResult>($"{Comic.ResourceURI}?ts=1&apikey=39212139ecb40b5fb10e3b724d5c6725&hash=3d0f592e813275da73776cc3089b2b71");
        imageURL = result.GetCover("portrait_medium");
        Console.WriteLine(imageURL);
    }
}