<div class="hero_details">
    <h1 class="hero_name">@Hero.Name</h1>
    <p><img class="hero_image" src=@Hero.ImageURL /></p>
    <p>@Hero.Description</p>
</div>

<div id="comicsPanel">
    @foreach (var comic in Hero.Comics)
    {
        <ShowComic Comic=@comic/>
    }
</div>

@functions {
    [Parameter] Hero Hero { get; set; }
}